/** {
	border: 2px solid green;
	outline: 2px solid red;
}
*/

/*General Layour Setup*/
/*must be a better way to do this*/
.wrapper {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

header {
	font-family: "Abel", sans-serif;
	font-size: 14pt;
	background-color: #554f61;
	width: 100%;
	z-index: 0;
}

.headerContent {
	max-width: 1280px;
	margin: auto;
}

main {
	max-width: 1280px;
	margin: auto;
	z-index: 1;
}

footer {
	font-family: "Abel", sans-serif;
	font-size: 14pt;
	background-color: #554f61;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.footerContent {
	max-width: 1280px;
	margin: auto;
	z-index: 1;
}

.footerContent ul {
	max-width: 1280px;
    list-style-type: none;
    margin: auto;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #554f61;
}

.footerContent li {
	float: left;
}

.footerContent li a {
    display: block;
    color: #F4EB4E;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.footerContent li a:hover:not(.active) {
    color: #68CEFA;
}

.footerContent li a:first-child {
	padding-left: 0;
}

footer section {
	margin: 5px 0;
}

.button {

}

/* Common layout with flexbox */

.headerContent {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 1280px;

}

.headerImages {
	justify-content: space-between;
	align-items: center;
}

#logo {
	float: left;
	max-width: 75px;
}

#heading {
	float: right;
	margin: 18px;
	opacity: 0.85;
	position: relative;
}

/* header register button */

#register {	
	float: right;
	margin: 18pt;
	font-size: 20pt;

	text-decoration: none; 
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

#register:active {
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

/* Navigation Bar */
header ul {
	max-width: 1280px;
    list-style-type: none;
    margin: auto;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #554f61;
}

header li {
    float: left;
    border-right:1px solid #bbb;
    background-color: #DD9E5A;
}

header li:last-child {
    border-right: none;
    float: right;
    background-color: transparent;
    padding: 8px 16px;
}

#headerSearch {
	width: 200pt;
	height: 14pt;
	margin-right: 10pt;
}

header li a {
    display: block;
    color: #F4EB4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #666;
    color: #68CEFA;
}

.active {
    background-color: #59B369;
}

/*background image*/
/* TODO: Center Background and Cycle Dynamically*/
.background {
	position: fixed;
	opacity: 0.25;
	z-index: 0;
}

/*Main Content Formatting*/
main {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Abel", sans-serif;
	font-size: 64pt;
	text-align: center;
	position: relative;
	margin-top: 80pt;
	color: #554f61;
}

h2 {
	font-family: "Abel", sans-serif;
	font-size: 32pt;
	margin-top: 32pt;
}

.textfield, #ratingDropdown {
	margin-top: 16pt;
	width: 200pt;
	text-align: center;
	height: 16pt;
}

#submitSearch {
	height: 32pt;
	width: 62pt;
	border-radius: 10px;
	display: block;
	margin: 20pt auto;
}